{% extends 'usuarios/base.html' %}

{% block title %}Cadastro de Usuários{% endblock %}

{% block content %}
    <h1>Cadastro de Usuários</h1>
    <form action="{% url 'listar_usuarios' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input name="nome" class="form-control" type="text" required>
        </div>
        <div class="mb-3">
            <label for="idade" class="form-label">Idade:</label>
            <input name="idade" class="form-control" type="number" required>
        </div>
        <button class="btn btn-primary">Enviar</button>
    </form>
{% endblock %}
